.app__home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: calc(100vh - 169px);
}

.app__home h1 {
  font-family: var(--font-heading);
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: black;
  text-transform: capitalize;
}

.app__home-imgcard {
  margin-top: 2rem;
  max-width: 320px;
  width: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1024px) {
  .app__home-imgcard {
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .app__home {
    padding: 0.5rem 0rem;
  }
  .app__home-imgcard {
    max-width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .app__home {
    padding: 0;
  }

  .app__home h1 {
    font-size: 2rem;
  }
  .app__home-imgcard {
    max-width: 290px;
  }
}
