.app__card {
  margin: 1rem 1rem;
  background-color: whitesmoke;
  max-width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border-radius: 0.5rem;
}

.app__card img {
  width: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
}

.app__card-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__card-content p {
  padding: 0.2rem 0;
}

@media screen and (max-width: 1024px) {
  .app__card {
    margin: 0.5rem;
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .app__card {
    margin: 0;
    max-width: 300px;
  }
}

@media screen and (max-width: 480px) {
  .app__card {
    margin: 1rem 0;
    max-width: 290px;
  }
}

.app__card a {
  text-decoration: none;
  color: black;
}
